<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReGetNetScroll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52916CF71D913D3F00EFEF87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52916D0B1D913D4000EFEF87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52916D161D913D4000EFEF87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
